<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <%= link_to 'All', tasks_path %>&nbsp;&nbsp;|
      &nbsp;<%= link_to 'Incomplete', '/incomplete' %>&nbsp;&nbsp;
      <%= link_to 'New Task', new_task_path, class: 'btn btn-info' %>
    </div>
    <h1>Incomplete Tasks</h1>
  </div>


  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
        <% if task.completed == false %>
          <td><%= link_to task.description, task_path(task) %></td>
          <td class="text-right"><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-info' %>
            <%= link_to 'Delete', task_path(task), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
