<div class="container">
  <div class="page-header">
      <%= link_to 'Delete', project_task_path(@project, @task), method: :delete, class: 'btn btn-danger pull-right' %>
      <%= link_to 'Edit', edit_project_task_path(@project, @task), class: 'btn btn-info pull-right', id: 'edit-button' %>
    <h1><%= @task.description %></h1>
  </div>
    <ol class="breadcrumb">
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to @project.name, project_path(@project) %></li>
      <li><%= link_to 'Tasks', project_tasks_path(@project) %></li>
      <li class="active"><%= @task.description %></li>
    </ol>
    <p><b>Due:</b> <%= @task.due_date %><p>
    <p><b>Completed:</b> <%= @task.completed %></p>
    <h2>Comments</h2>
    <% @task.comments.each do |comment| %>
    <div class="row">
    <div class="col-md-3">
      <h3><%= link_to "#{comment.user.first_name} #{comment.user.last_name}", user_path(comment.user) %></h3>
      <p class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</p>
    </div>
    <div class="col-md-9 comment">
      <p><%= comment.body %></p>
    </div>
  </div>
    <% end %>
    <div class="col-md-9 col-md-offset-3 ">
      <%= form_for [@project, @task, @comment] do |f| %>
        <div class="form-group row">
          <%= f.text_area :body, class: 'form-control' %>
        </div>
        <div class="form-group row">
          <%= f.submit 'Add Comment', class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
</div>
