<%= form_for(@user) do |f| %>
<%= render 'shared/errors', object: @user %>

  <div class="form-group row">
    <%= f.label :first_name, class: "control-label col-md-2" %>
    <div class="form-controls col-md-4">
      <%= f.text_field :first_name, class: "form-control", id: "first_name" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :last_name, class: "control-label col-md-2" %>
      <div class="form-controls col-md-4">
        <%= f.text_field :last_name, class: "form-control", id: "last_name" %>
      </div>
    </div>
  <div class="form-group row">
    <%= f.label :email, class: "control-label col-md-2" %>
    <div class="form-controls col-md-4">
      <%= f.email_field :email, class: "form-control", id: "email" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password, class: "control-label col-md-2" %>
    <div class="form-controls col-md-4">
      <%= f.password_field :password, class: "form-control", id: "password" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password_confirmation, class: "control-label col-md-2", id: "password_confirmation" %>
    <div class="form-controls col-md-4">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <% if current_user && current_user.admin == true %>
    <div class="form-group row">
        <div class="control-label col-md-2">
          <label>Admin</label>
        </div>
        <div class="form-controls col-md-4" id="checkbox">
          <% if @user.admin == true %>
            <%= f.check_box :admin, { :checked => 'checked' } %>
          <% else %>
            <%= f.check_box :admin, { :checked => 'true' } %>
          <% end %>
        </div>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-md-offset-2 col-md-4">
      <%= f.submit class: "btn btn-info" %>
      <%= link_to 'Cancel', users_path, class: 'btn btn-default' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-offset-2 col-md-4">
      <% unless @user.new_record? %>
      <center class="well"><%= link_to 'Delete User', user_path(@user), method: :delete, class: 'btn btn-danger' %></center>
      <% end %>
    </div>
  </div>
<% end %>
