<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
     <div class="item active">
      <%= image_tag("business_meeting.jpg", class: 'layer') %>
       <div class="carousel-caption">
           <h1>Taskdom</h1>
           <h2>Your life, organized.</h2>
       </div>
     </div>
     <div class="item">
       <%= image_tag("tablet.jpg", class: 'layer') %>
       <div class="carousel-caption">
           <h1>Task efficiently | Increase productivity</h1>
       </div>
     </div>
     <div class="item">
       <%= image_tag("hands.jpg", class: 'layer') %>
       <div class="carousel-caption">
           <h1>Easy to use | Tool for success</h1>
       </div>
     </div>
   </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <i class="fa fa-angle-left" id="arrow"></i>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <i class="fa fa-angle-right" id="arrow"></i>
  </a>
</div>





  <!-- <div class="row">
    <div class="col-md-4">
      <p class="lead">
        <%= image_tag("tablet.jpg", class: "img-responsive") %>
      </p>
    <div class="panel panel-primary">
      <div class="panel-heading">Tasks</div>
        <div class="panel-body home-panel">Grouped by projects and lists, just the way you like'em</div>
      </div>
    </div>
      <div class="col-md-4">
        <p class="lead">
          <%= image_tag("hands.jpg", class: "img-responsive") %>
        </p>
      <div class="panel panel-primary">
        <div class="panel-heading">Documents</div>
        <div class="panel-body home-panel">
          <ul>
            <li>Upload</li>
            <li>Comment</li>
            <li>Revise</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="lead">
        <%= image_tag("guy.jpg", class: "img-responsive") %>
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">Comments</div>
        <div class="panel-body home-panel">
          <ul>
            <li>Comment on tasks and documents</li>
              <li>Get email notifications</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% @quotes.each_slice(2) do |quote, author| %>
      <p>"<%= quote %>" </p>
      <p class ="text-muted"><em><%= author %></em></p>
    <% end %>
  </div> -->
