<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("about.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-8">
      <p>We are dedicated to the makers, the creators, the risk-takers.</p>
      <p>We wake up in the middle of the night and furiously write down ideas about how to make your online life better.</p>
      <p>Human collaboration and communication is what drives us, and it infuses every feature of Taskdom.</p>
    </div>
  </div>
  <p>Taskdom is extrememly active. Check out our killer stats below!</p>
  <p>
    <% if Project.count == 1 %>
      1 Project,
    <% else %>
      <%= Project.count %> Projects,
    <% end %>
    <% if Task.count == 1 %>
      1 Task,
    <% else %>
      <%= Task.count %> Tasks,
    <% end %>
    <% if Membership.count == 1 %>
      1 Project Member,
    <% else %>
      <%= Membership.count %> Project Members,
    <% end %>
    <% if User.count == 1 %>
      1 User,
    <% else %>
      <%= User.count %> Users,
    <% end %>
    <% if Comment.count == 1 %>
      1 Comment,
    <% else %>
      <%= Comment.count %> Comments
    <% end %>
  </p>
</div>
